<%- include ('../layouts/header') %>
<h2><%=title%></h2>
<form class="form" name="myForm" action="/blockchain/create" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-label-group">
      <input type="text" class="form-control" id="ip" name="ip" required="" placeholder="IP">
    </div>
    <div class="form-label-group">
        <input type="number" class="form-control" id="puerto" name="puerto" required="" placeholder="Puerto">
    </div>
    <div class="form-label-group">
        <input type="text" class="form-control" id="usuario" name="usuario" required="" placeholder="Usuario">
    </div>
    <div class="form-label-group">
        <input type="text" class="form-control" id="clave" name="clave" required="" placeholder="Clave">
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
    
  </form>

  <%- include ('../layouts/footer') %>
  