<%- include ('../layouts/header') %>
<%- include ('../layouts/header_options') %>
<form class="form-signin" name="myForm" action="/padron" method="post">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal"><%= title %></h1>
    </div>
    <br>
    <% if (!padron) { %>
    <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit">Cargar Automaticamente el Padrón de Votantes</button>
    <% } else { %>
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Los datos ya estan cargados</h1>
      </div>
    <% } %>
</form>
<%- include ('../layouts/footer') %>

