<% layout('layout') -%>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script>
	var indexApp = angular.module('IndexApp', []);

	indexApp.controller('IndexController', function ($scope, $http) {
		function GetData() {
        		$http({
            			url: '/personal',
            			method: 'POST'
        		}).success(function (data, status, headers, config) {
            			$scope.datos = data[0];
        		});
    		};
    		GetData();
	});
	</script>


	<div ng-app="IndexApp">
		<div ng-controller="IndexController">
			<h1>Hola {{ datos.nombres }} {{ datos.apellido }}</h1>
			<a href="/logout">Cerrar</a>
			<h1><%= nombre %></h1>
		</div>
	</div>
