<html>
    <head>
        <title>UIT Tutorial - Sessions</title>
    </head>
    <body>

<form 
name="myForm"
action="/register" method="post">

<p>DNI:<br>
<input id="usuario" type="text" name="usuario" required>
<span style="color:red">
<span >Ingrese su DNI.</span>
</span>
</p>

<p>Clave:<br>
<input id="contrasena" type="password" name="contrasena" required>
<span style="color:red" >
<span >Ingrese la clave.</span>
</span>
</p>

<p>
<input id="submit" type="submit">
</p>

</form>


    </body>
</html>